.img-create {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(233, 234, 232, 0.785);
    width: 350px;
    height: 650px;
    margin-left: 30px;
    border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.img-create img {
    height: 250px;
    object-fit: contain;
    object-position: top center;
    position: relative;
    width: 240px;
}



.img-create h4 {
    color: #438a00;
    font-size: 30px;
   padding-bottom: 13px;
}

.description-mockup {
    padding: 20px 3px 5px 3px;
    margin: 0px 5px 3px 5px;
    color: rgb(96, 95, 95);
    font-size: 15px;
    width: fit-content;
}

.p-mockup{
    width: 300px;
}

.mockup-product {
    height: 548px;
    display: flex;
    flex-direction: column;
}

.img-create_title{
    font-size: 35px;
    padding-top: 7%;
}

.img-mockup-container{
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.img-mockup{
    height: 100%;
}

@media screen and (max-width: 980px) {
    .img-create{
        visibility: hidden;
        position: absolute;
    }
}