.img-create {
    // // background-image: url('../../assets/empty.png');

    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(233, 234, 232, 0.785);
    // background-image: linear-gradient(to bottom, #ccebae, #c4ec9d, #bbed8c, #b2ed7b, #a9ee68);
    // background: linear-gradient(0deg, rgba(190, 255, 70, 0.212) 0%, rgba(87, 87, 87, 0) 68%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 550px;
    margin-left: 30px;
    border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 10px;

}

.img-create img {
    height: 250px;
    object-fit: contain;
    object-position: top center;
    position: relative;
    width: 240px;
}

.img-create #name {
    text-align: center;
    height: 115px;
    background-color: transparent;
    color: rgb(92, 87, 87);
    font-weight: bold;
    font-size: 20px;
    width: 180px;
    overflow: hidden;
    border: none;
    resize: none;
}

.img-create h4 {
    // margin-top: 50px;
    color: rgb(67, 65, 65);
    font-size: 30px;
    position: absolute;
    right: 8%;
    top: 21%
}

.img-create #description {
    height: 47px;
    width: 200px;
    color: rgb(96, 95, 95);
    margin-top: 20px;
    font-size: 20px;
}

.input-cbd {
    margin-right: 5px;
}

.mockup-product {
    height: 500px;
    display: flex;
    flex-direction: column;
}

.img-create_title{
    font-size: 35px;
    padding-top: 10%;
}