
.star-detail{
    // margin-left: 5px;
    color: rgb(255, 221, 0);
    -webkit-filter: drop-shadow(0px 0px 0px #222);
  filter: drop-shadow(0px 2px 3px #222);
  animation: ease-in-out 1s infinite;
}



  
  .stars {
    margin-top: 20px;
    // text-align: center;
    // margin: 1rem;
    color: rgb(218, 244, 237);
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.573);
  }
  
  

   /* From uiverse.io by @JoseIsra */
.card-rev {
  width: fit-content;
  cursor: default;
  border-radius: 100%;
}

.content-rev {
  text-align: center;
  position: relative;
  transition: all 1s;
  // background-color: rgb(196, 196, 196);
  padding: 4.3em;
  transform-style: preserve-3d;
  // border-radius: 100%;
  align-items: center;
  border-radius: 100%;
  border: 3px solid rgb(192, 191, 191);
}

.card-rev:hover .content-rev {
  transform: rotateY(0.5turn);
  // background-color: rgb(194, 20, 20);
  // border-radius: 100%;
  border-radius: 100%;
}

.front-review,
.back-review {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  // border-radius: 100%;
  animation: load89234 2s infinite;
  border-radius: 100%;
}

.title-review {
  transform: translateZ(2rem);
  font-size: 1rem;
}

.subtitle-review {
  transform: translateZ(2rem);
}

.back-review {
  transform: rotateY(1.5turn);
  background-color: rgb(71, 71, 71);
  color: white;
  border-radius: 100%;
  // background-color: #d2d2d2;
  // border-radius: 100%;
  
}

.description-review{
  transform: translateZ(2rem);
}

.card_load {
  // width: 100%;
  // height: 70px;
  // position: relative;
  float: left;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  // border-radius: 20%;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 2s infinite;
  border-radius: 100%;
  }

  
  @keyframes load89234 {
    100% {
      background-position: -100% 0;
    }
  }
