.bot-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    font-size: 0.9rem;
    /* background-color: red; */
    border: 1px solid black;
    background: black;
    background-image: url('../../../assets/logo.png');
    background-position: center;
    background-size: cover;
}