.landing {
    background: radial-gradient(circle, rgba(62, 62, 62, 1) 0%, rgba(0, 0, 0, 1) 100%);
    width: 100vw;
    height: 100vh;
    margin: -10px;

    display: flex;
    flex-direction: row;
}

.landing-title {
    display: flex;
    color: white;
    margin-right: 85px;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 100px;
  }

.landing-subtitle {
    background: -webkit-linear-gradient(#5da657, #285a2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-top: -25px;
    font-weight: 800;
}

.landing-conteiner-title {
    margin-left: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-conteiner-image {
    width: 70%;
    overflow: hidden;
}

.landing-image {
    height: 100%;

}

.landing-button {
    font-size: 15px;
    font-family: Arial;
    width: 140px;
    height: 50px;
    border-width: 3px;
    color: #fff;
    border-color: #60ae00;
    font-weight: bold;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    background-color: transparent;
    margin: 15px;
    text-decoration: none;

}

.landing-button:visited {
    text-decoration: none;
}

.landing-button:active {
    text-decoration: none;
}

.landing-button:hover {

    background-image: -webkit-linear-gradient(top, #5da657, #285a2b);
    background-image: -moz-linear-gradient(top, #5da657, #285a2b);
    background-image: -ms-linear-gradient(top, #5da657, #285a2b);
    background-image: -o-linear-gradient(top, #5da657, #285a2b);
    background-image: linear-gradient(to bottom, #5da657, #285a2b);
    text-decoration: none;
}

.landing-paragraph{
    color: rgb(221, 221, 221);
    width: 320px;
    justify-content: space-around;
}

.landing-linea {
    position: absolute;
    display: flex;
    width: 90%;
    height: 3px;
    background-color: #60ae00;
    margin: 5%;
    margin-top: 45px;
}

.landing-brand{
    width: 330px;
    margin-top: 100px;
    margin-bottom: 15px;
}

.landing-linea-botton {
    position: absolute;
    bottom: 5%;
    width: 90%;
    height: 3px;
    background-color: #60ae00;
    margin: 5%;
    margin-bottom: 0px;

}

@media (max-width: 850px) {
    .landing-conteiner-title {
        margin-left: 25%;
        width: 20%;
    }

}