.landing {
    background: radial-gradient(circle, rgba(62, 62, 62, 1) 0%, rgba(0, 0, 0, 1) 100%);
    width: 100vw;
    height: 100vh;
    margin: -10px;

    display: flex;
    flex-direction: row;
}

.landing-title {
    display: flex;
    color: white;
    margin-right: 85px;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 200px;
}

.landing-subtitle {
    background: -webkit-linear-gradient(#21c46d, #0f9c4f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-top: -35px;
    font-weight: 800;
}

.landing-conteiner-title {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-conteiner-image {
    width: 70%;
    overflow: hidden;
}

.landing-image {
    height: 100%;
   
}

.landing-button {
    font-size: 15px;
    font-family: Arial;
    width: 140px;
    height: 50px;
    border-width: 3px;
    color: #fff;
    border-color: #18ab2987;
    font-weight: bold;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    background-color: transparent;
    margin: 25px;
}


.landing-button:hover {

    background-image: -webkit-linear-gradient(top, #21c46d, #0e8f48);
    background-image: -moz-linear-gradient(top, #21c46d, #0c783d);
    background-image: -ms-linear-gradient(top, #21c46d, #0b7c3e);
    background-image: -o-linear-gradient(top, #21c46d, #0d7e40);
    background-image: linear-gradient(to bottom, #21c46d, #0c773c);
    text-decoration: none;
}

.landing-linea {
    position: absolute;
    display: flex;
    width: 90%;
    height: 3px;
    background-color: #21c46d;
    margin: 5%;
    margin-top: 45px;
}

.landing-linea-botton {
    position: absolute;
    bottom: 5%;
        width: 90%;
    height: 3px;
    background-color: #21c46d;
    margin: 5%;
    margin-bottom: 0px;
    
}