.info{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    padding-top: 30px;
width: 10%;
min-width: 190px;

    /* background-color: rgb(222, 233, 243); */
}

.info span{
    font-weight: bold;
}

.header-widget{
    margin: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    /* text-shadow: 0px -6px 6px rgba(0, 0, 0, 0.534);     */
}

.animated-container{
    justify-content: center;
}