.title-edit {
    width: 170px;
    height: auto;
    position: absolute;
    top: 30px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}