table.scrolldown tbody, table.scrolldown thead {
    display: block;
} 

table.scrolldown tbody {
      
    /* Set the height of table body */
    height: 300px; 
      
    /* Set vertical scroll */
    overflow-y: auto;
      
    /* Hide the horizontal scroll */
    overflow-x: hidden; 
}

.loadingGif{
    z-index: 10000000000000002000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    /* margin: auto; */
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    opacity: 0.8;
}

.loadingGif h3{
    font-size: 32px;
    position: absolute;
    top: 60px;
    font-weight: bold;
    color: green;
}

.order-detailed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-wrap: nowrap;
    width: 100%;
    // background-color: antiquewhite;
}