.order-detailed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-wrap: nowrap;
    width: 100%;
    // background-color: antiquewhite;
}