table.scrolldown tbody, table.scrolldown thead {
    display: block;
} 

table.scrolldown tbody {
      
    /* Set the height of table body */
    height: 300px; 
      
    /* Set vertical scroll */
    overflow-y: auto;
      
    /* Hide the horizontal scroll */
    overflow-x: hidden; 
}

.order-detailed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-wrap: nowrap;
    width: 100%;
    // background-color: antiquewhite;
}