.shield{
    width: 400px;
    height: 400px;
    background-image: url('../../../assets/shield1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shield:hover{
    width: 400px;
    height: 400px;
    background-image: url('../../../assets/shield2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}