@import '../../../scss/breakpoints.scss';
@import '../../../scss/mixins.scss';

.cmp-admin-loading-container {

    width: 80vw;
}

.cmp-CardDetails-loading-img-2 {

    left: -3%;
    top: 20%;
    position: relative;

    @include respond-to('medium') {
        left: 25%;

        top: 20%;
        position: relative;

    }
}
.cmp-stockManagement-container{
    margin-top: 4%;
}
.no-stock {
    background-color: rgb(255, 109, 109);
    color: white // font-weight: bold;
}

.lower-than-10 {
    background-color: #FFE99F;
    color: rgb(0, 0, 0);
    // font-weight: bold;
}

.lower-than-50 {
    background-color: rgb(108, 177, 255);
    color: black;
    
}



.stock-mgm {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: min-content;

    @include respond-to('medium') {
        // background: rgb(192, 188, 188);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;;
        width: min-content;

    }
}

#edit-btn{
//     background: rgb(88,128,87);
// background: linear-gradient(90deg, rgba(88,128,87,0) 0%, rgba(0,0,0,0.6250875350140056) 100%);
vertical-align: middle;
}

#edit-btn span{
    color: black;
}

.position {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#num1 {
    background-color: rgb(91, 167, 5);
    padding: 3px 10px 3px 10px;
    border-radius: 100%;
    margin-right: 7px;
}

#num2 {
    background-color: rgb(196, 181, 54);
    padding: 3px 10px 3px 10px;
    border-radius: 100%;
    margin-right: 7px;
}

#num3 {
    background-color: rgb(168, 168, 168);
    padding: 3px 10px 3px 10px;
    border-radius: 100%;
    margin-right: 7px;
}