@import '../../scss/breakpoints.scss';
@import '../../scss/mixins.scss';

.cmp-ordendetail-container {
    width: 90%;
    min-height: 77vh;
    margin: auto;
    @include respond-to('medium') {
        width: 90%;
        min-height: 77vh;
        // margin: auto;
    }

}

.cmp-order-compra-detil-container-imgs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    // margin-left: 15px;

    @include respond-to('medium') {
        display: flex;
    /* left: 200px; */
    flex-direction: row;
    /* width: max-content; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    }
}

.over-cmp {
    @include respond-to('medium') {
        overflow: auto;
        // width: 111%;

    }

}

.cmp-ordendetail-container-img {
    object-fit: cover;
    object-position: top center;
    width: 90px;

}

.media-content {
    display: none;

    @include respond-to('medium') {
        display: block;
        height: 78px;
    }
}

.card-contenedor {
    position: relative;
    min-height: 200px;
    height: 191px;

    @include respond-to('medium') {

        height: 420px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    @media (max-width: 700px) {
        position: absolute;
        top: 6px;
        left: 276px;
    }

}

.content span{
        margin-top: 5px;
        width: 60px;
        margin-right: 100px;
}



.cmp-ordendetail-container-img-logo {
    width: 60px;
    height: 60px;
    position: absolute;
    box-shadow: 5px 5px 5px 5px rgba(173, 164, 164, 0.572);
    border-radius: 7px;
    top: 100px;

    @include respond-to('medium') {
        right: 22px;
        top: 309px;
    }
}

.cmp-detalle-button-pay {
    // margin-top: 30px;
    // width: 310px;
    display: flex;
       justify-content: center;
       flex-direction: row;
       align-items: center;
    // display: flex;
    // justify-content: space-around;
    // cursor: pointer;
    @include respond-to('medium') {
       display: flex;
       justify-content: center;
       flex-direction: row;
       align-items: center;
       margin-top: 20px;
        // left: 132px;
        // bottom: 200px;

    }
}

.cmp-ordendetail-container-img-premio {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 3px;
    top: 3px
}

.cmp-orden-compra-back {
    margin-top: 40px;
    width: 90%;
    /* margin: auto; */
    display: flex;
    width: 100%;
}

.btn-back {
    background-color: rgb(155, 164, 171);
    height: 39px;
    margin-right: 5px;
}

.btn-review {
    position: absolute;
    bottom: 10px;
    // width: 60px;
    
    height: 30px;
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #111;
    font-weight: 500;
    background-color: rgb(220, 235, 12);
    transition: all 0.3s ease-in-out;
}
.btn-review:hover {
    background-color: rgb(218, 181, 20);
}