@import '../../scss/breakpoints.scss';
@import '../../scss/mixins.scss';

// @include respond-to('medium-landscape') {
//   left: -70px;
// }

/* From uiverse.io by @barisdogansutcu */
.chat-button {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
   }
   
   .chat-button:hover {
    letter-spacing: 3px;
    background-color: rgb(118, 139, 89);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(135, 220, 24) 0px 7px 29px 0px;
   }
   
   .chat-button:active {
    letter-spacing: 3px;
    background-color: rgb(24, 220, 165);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(48, 92, 89) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }

