.react-chatbot-kit-chat-container {
    // border: 1px solid black;
    border-radius: 20px;
}

.react-chatbot-kit-chat-inner-container {
    background: rgb(91, 117, 62);
    background: linear-gradient(180deg, rgba(33,139,68,0.8748541652989321) 0%, rgba(255,255,255,0.9196720924698004) 100%);
    border-radius: 20px;
    height: 90%;
}

.react-chatbot-kit-chat-header {
    background-color: rgb(4, 154, 19);
    color: white;
    border-radius: 20px 20px 0px 0px;
}

.react-chatbot-kit-chat-input-container {
    border-radius: 20px;
}

.react-chatbot-kit-chat-input-form{
    border-radius: 0px 0px 0px 20px;
    background-color: transparent;
}

.react-chatbot-kit-chat-input {
    border-radius: 20px 0px 0px 0px;
    border: 1px solid black;
}
 
.chatbot{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgba(122, 139, 35, 0.721);
    padding: 10px;
    border-radius: 20px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbot span{
    padding-right: 5px;
}

.bot{
    position: fixed;
    bottom: 59px;
    right: 30px;
    z-index: 9999;
    display: none;
}

.showBot{
    position: fixed;
    bottom: 76px;
    right: 30px;
    z-index: 9999;
    display: block;
}

.react-chatbot-kit-user-avatar-container {
    // background-color: red;
}

.botsin{
    
}