.edit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-edit{
    background-color: rebeccapurple;
    width: 200px;
    height: 300px;
    margin: 40px;
    padding: 20px;
}

.card-edit img{
    width: 100%;    
}

.title-edit{
    display: flex;
    justify-content: flex-start;
}

.title-text{
    margin-left: 26px;
}

