@import '../../scss/breakpoints.scss';
@import '../../scss/mixins.scss';

.detail {
    width: 80%;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.123);
    @include respond-to('medium') {
        width: 80%;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.123);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 60px 0px inset;


    }
}

.cmp-CardDetails-loading-container-1 {
    display: flex;
    justify-content: center;
    height: 700px;
    align-items: center;
}

.cmp-CardDetails-container-1 {
    min-height: 80vh;
      margin-top: 37px;
  height: 500px;
  position: absolute;
  left: 35%;
  bottom: 34%;
  transform: translate(50px, 50px);
}

.cmp-CardDetails-loading-img {
    margin-top: 50px;
    height: 500px;
}

.image {
    width: 30%;
    min-width: 200px;
 
    padding: 20px;
}

.image img {
    width: 100%;
}

.description {
 
    width: 70%;
    padding: 20px;
}

.container-name {
    display: flex;
    flex-direction: row;
}

.stock-detail {
    margin-top: 10px;
    width: 100px;
    height: 25px;
    text-align: center;
    border: none;
    border-radius: 1rem;
    background-color: #6dc007;
    color: #fff;
}

.low {
    background-color: #faa320;
}

.none {
    background-color: #f83434;
}

.reviews {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 250px;
}



.container-buttons_edit_remove{
    display: flex;
    flex-direction: row;
}




/* From uiverse.io by @adamgiebl */
.button:not(.back, #carousel-btn) {
    font-family: inherit;
    font-size: 15px;
    background: #438a00;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.2s;
    margin-top: 10px;
}

.back {
    font-family: inherit;
    font-size: 15px;
    background: rgb(182, 182, 182);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    margin: 10px;
}

.button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.button span {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
    margin-right: 5px;
}

.button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button:hover span {
    transform: translateX(-0.5em) rotate(20deg) scale(1.1);
    
    #text-button-cart{
        display: none;
    }
}

.button:hover span {
    // transform: translateX(0.5em);
    #text-button-cart{
        display: none;
    }
}

.button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}




.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 100%;
}

.container-reviews {
    text-align: center;
    width: 200px;
}

.container-reviews h2 {
    font-weight: 600;
    font-size: 23px;
}

.button-delete, .button-edit {
    margin-top: 10px;
    width: 80px;
    margin-right: 20px;
    height: 40px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 4px;
    background-color: #438a00;
    color: #fff;
    border: none;
    transition: all 0.3s ease-in-out;
}
.button-green-favorite, .button-red-favorite {
    margin-top: 10px;
    width: 80px;
    margin-right: 20px;
    height: 40px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 4px;
    background-color: #438a00;
    color: #fff;
    border: none;
    transition: all 0.3s ease-in-out;
}

.button-red-favorite{
    background-color: #ff4c4cc4;
}

.name-product-detail{
    font-size: 180%;
    font-weight: 600;
}

.span-price-detail{
    font-size: 180%;
    font-weight: 600;
    color: #157347;
}

.hr-product-detail{
    background-color: #615e5e;
    border: none;
    display: block;
    height: 2px;
    margin: 1.2rem 0;
}

.button-delete:hover{
    background-color: red;
}

.button-green-favorite:hover{
    background-color: rgb(207, 157, 6);
}

.span-thc-detail{
    margin-left: 20px;
    margin-right: 10px;
}

.span-thc-detail, .span-cbd-detail{
    font-size: 18px;
}

.button-edit:hover{
  background-color: #438a006e;
}

.button-add-cart-detail{
    cursor: not-allowed;
    background-color: #f83434;
}

@media (max-width: 525px) {
    .image {
        width: 100vw;
    }

    .description {
        width: 100vw;
        text-align: center;
    }

    .detail {
        width: 100vw;
        padding: 0;
    }

    .button-delete{
        width: 100%;
    }
    .button-edit {
        width: 100%;
    }
    .button:not(.back, #carousel-btn){
        width: 100%;
    }
    .container-name {
        align-items: center;
        flex-direction: column;
    }
    .stock-detail{
        width: 100%;
    }
}