
.create {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.create_form {
    width: 350px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 0.5px solid #666;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}