.Loading{
    width: 100%;
    display: flex;
    justify-content: space-evenly;    
    font-size: 20px;
    z-index: 99;
    border: 1px solid rgba(0, 128, 0, 0.178);
    border-radius: 100%;
}

.Loading h4{
    position: absolute;
    bottom: 8px;
    z-index: 100;
    font-weight: bold;
}

.Loading img{
    border-radius: 100%;
}
