.footer{
    height: 50px;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    color: rgb(0, 0, 0);  
    border: 1px solid rgba(112, 112, 112, 0.349);
    margin-top: 20px;
}


.footer span{
    font-size: 12px;
}