.footer{
    height: 50px;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);  
    border: 1px solid rgba(112, 112, 112, 0.349)
}


.footer span{
    font-size: 12px;
}