.grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.btn-filter-reset {
    background-color: #438a00;
    color: white;
    border-width: 0;
    border-radius: 5px;
}

.btn-filter-reset:hover {
    background-color: red;
}


.filters {
    margin-top: 55px;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}

.form {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: groove;
    border-width: 1px;
    border-radius: 20px;
    padding: 0.8em;
    border: none;
    border: 2px solid;
    border-color: #baea7f;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.cards {

    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 10px;
}

/* From uiverse.io */
.button-filter {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
}

.button-filter:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.filter-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.btn-filter {
    margin-left: 12px;
}

.button-filter:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button-filter:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
}

.button-filter:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button-filter:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.grid-button {
    background-color: #438a00;
    color: white;
    border-width: 0;
    border-radius: 5px;
    margin: 3px;
}

.grid-button:hover {
    background-color: #438a0091;
}

.grid-button-price {
    background-color: #438a00;
    color: white;
    border-width: 0;
    border-radius: 5px;
    margin: 3px;
    margin-left: 13px;
}

.grid-button-price:hover {
    background-color: #438a0091;
}


.grid-input {
    text-align: center;
    border-color: #baea7f;
    border-radius: 5px;
    background-color: #baea7f17;
    box-shadow: inset  0 3px 3px 0 rgba(0, 0, 0, 0.13);;
}