table thead tr{
    background: rgb(68,143,63);
background: linear-gradient(0deg, rgba(68,143,63,1) 0%, rgba(26,59,22,1) 100%);
    color: white;
}

table thead tr abbr{
    color: white;
}

.metricas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#stock, #userMgm, #bestSell, #userCrud, #topCustomer, #orders{
    display: flex;
    align-items: center;
}

.menu{
 height: 100%;
}

.menuItem{
    display: flex;
    align-items: center;
}

.iconMenu{
    padding-left: 10px;
}

.lower-10{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: min-content;
    // margin: 20px;
}

.circular-chart{
    width: 300px;
}

.sells-year{
    // min-width: 400px;
    // max-width: 700px;
    width: 80%;
    // margin: 40px;

}

.datas{
    // width: 40%;
//   height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 50px;
//   background-color: lightgreen;
}

.datas h1{
    font-size: 40px;
}

.link{
    color: white;
}

.is-active{
    background-color: green($color: white);
}
