@import '../../scss/breakpoints.scss';
@import '../../scss/mixins.scss';


.custom-title {
    font-weight: bold;
    font-size: 30px;
    text-decoration-line: underline;
    text-decoration-color: rgba(0, 128, 0, 0.301);
}

table thead tr {
    background: rgb(68, 143, 63);
    background: linear-gradient(0deg, rgba(68, 143, 63, 1) 0%, rgba(26, 59, 22, 1) 100%);
    color: white;
    width: auto;
}

table thead tr abbr {
    color: white;
}

.metricas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 80vh;
}

#stock,
#userMgm,
#bestSell,
#userCrud,
#topCustomer,
#orders {
    display: flex;
    align-items: center;
}

.menu {
    
    // background-color: red;
    width: 100%;
    height: 150px;
    
    overflow-y: auto;
    display:block;  
    overflow-x: hidden;

    @include respond-to('medium') {
        // background-color: green;
        height: 100%;
        width: auto;

    /* Hide the horizontal scroll */
    }
}

.menuItem {
    display: flex;
    align-items: center;
}

.iconMenu {
    padding-left: 10px;
}

.ancho {
    width: 500px;

}

.lower-10 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: min-content;
    // margin: 20px;
}

.circular-chart {
    width: 300px;
}

.sells-year {
    // min-width: 400px;
    // max-width: 700px;
    width: 80%;
    // margin: 40px;

}

.datas {
    // width: 40%;
    //   height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 50px;
    //   background-color: lightgreen;
}

.datas h1 {
    font-size: 40px;
}

.link {
    color: white;
}

.is-active {
    background-color: green($color: white);
}

