.lower-10{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    // margin: 20px;
}

.circular-chart{
    width: 300px;
}

.sells-year{
    width: 50%;
}

.datas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}