

.collapse {
    position: relative;
}

.dropdown {
    display: flex;
    align-items: center;
    position: absolute;
    right: 100px;
}
.dropdown img {
    height: 26px;
    border-radius: 50%;
}

.dropdown-menu {
    text-align: center;
}

.sign {
    width: 250px;
    height: 40px;
    position: absolute;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn_in, .btn_up {
    width: 80px;
    height: 40px;
    outline: none;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 4px;
}

.btn_in {
    border: 1px solid #438a00;
    color: #438a00;
}

.btn_up {
    background-color: #438a00;
    color: #fff;
    border: none;
    transition: all 0.3s ease-in-out;
}
.btn_up:hover {
    background-color: #2B5800;
}

.carrito img {
    position: absolute;
    right: 50px;
    height: 26px;
}

.navbar-brand-image{
    width: 40px;
}

