.collapse {
    position: relative;
}

.dropdown {
    display: flex;
    align-items: center;
    position: absolute;
    right: 100px;
}

.dropdown img {
    height: 26px;
    border-radius: 50%;
}

.dropdown-menu {
    text-align: center;
}

.sign {
    width: 250px;
    height: 40px;
    position: absolute;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.btn_in,
.btn_up {
    width: 80px;
    height: 40px;
    outline: none;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 4px;
}

.btn_in {
    border: 1px solid #438a00;
    color: #438a00;
}

.btn_up {
    background-color: #438a00;
    color: #fff;
    border: none;
    transition: all 0.3s ease-in-out;
}

.btn_up:hover {
    background-color: #2B5800;
}

.carrito img {
    position: absolute;
   /*  right: 50px; */
    /* bottom: 20px; */
    height: 26px;
    transition: 2s;
}

.navbar-brand-image {
    width: 40px;
}

/////////////////////////////////////////////////////////

.user_dropdown {
    margin-right: 100px;
}

.logo_container {
    height: 100%;
    padding: 0;
}

.brand {
    width: 50px;
    height: 100%;
    padding: 0;
}

.brand img {
    width: 100%;
    height: auto;
    margin-left: 20px;
}

.avatar img {
    margin-right: 15px;
    border-radius: 50%;
}

@media (max-width: 992px) {
    .carrito img {

        right: 70px;
        top: 5px;
        height: 26px;
        transition: 2s;
    }

}