

.collapse {
    position: relative;
}

.dropdown {
    display: flex;
    align-items: center;
    position: absolute;
    right: 100px;
}
.dropdown img {
    height: 26px;
    border-radius: 50%;
}

.carrito img {
    position: absolute;
    right: 50px;
    height: 26px;
}

.navbar-brand-image{
    width: 80px;
}

