.order-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#no-orders{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter-orders{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;
}

.filter-orders select{
    margin:5px;
    width: inherit;
}